*{
    margin:0;
    padding:0;
    list-style:none;
    font-family: 'Open Sans Condensed', sans-serif;
}
#calender{
    width: 90%;
    height:2000px;
    margin:auto;

}
#wrap{
    width: 1200px;
    display:flex;
    margin:auto;
    box-sizing: border-box;
    margin-top:60px;
    border:1px solid #ccc;
}

.banner{
    width: 30%;
}
img{
    width: 100%;
}
.content{
    width: 70%;
    background-color: #EFEEDE;
    padding-left:7px;
}
.container{
    width: 100%;
    margin:auto;
    
}
#header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:10px 0 17px;
    color: #a5a35f;
    font-size:2.3rem;
    font-weight:bold;
    letter-spacing:5px;
}
#header a{
    font-size:20px;
    color: #A4A133;
}
#days{
    display:flex;
}
.day{
    width:calc(100% / 7);
    margin-left:-1px;
    margin-bottom: 10px;
    color: #52641D;
}
#dates{
    display:flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.date-block{
    width:calc(100% / 7);
    height: 11vh;
    margin-top:-1px;
    margin-left:-1px;
    border:1px solid #ccc;
    background-color: #fff;
}
.date{
    margin:5px 0 0 8px;
    color: #a5a35f;
    font-weight: 500;
}
.date-block.empty{
    background-color: #E2DEC8;
}
/* .events,.event{
    
} */
.event{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin:1px 8px;
    padding: 0px 8px;
    border-radius: 2px;
    background-color: #efeede;
}
.events .title,.events .from,.event{
    font-size: 11px;
}

#info-panel{
    display:none;
    width: 15%;
    position: absolute;
    background-color: #d7d78c;
    border-radius:5px;
    border-bottom:1px solid #fff;
    letter-spacing:1px;   
}
#info-panel.open{
    display:block;
}
#info-panel .title{
    padding:10px 13px;
    border-bottom:1px solid #fff;
}
#info-panel .close{
    cursor: pointer;
}
.error-msg{
    display:none;
}
.error-msg.open{
    display:block;
}
.description,.buttons,.time-picker{
    padding:13px;
}

.selected-date{
    color:#9b9e1b;
    font-size:30px;
    padding:10px 0;
}
.time-picker{
    color:#EFEEDE;
    text-align: center;
    border-bottom:1px solid #fff;
}
#info-panel .from,#info-panel .to{
    display:flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 10px;
}
label{
    color:#FFF;
    margin-bottom:5px;
}
input{
    width: 100%;
    border:1px solid #ccc;
    border-radius:2px;
}
.description{
    border-bottom:1px solid #fff;
}
textarea{
    width: 100%;
    border:1px solid #ccc;
    border-radius:2px;

}
.buttons{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#info-panel button{
    display:none;
    cursor: pointer;
}
#info-panel.new button.create,#info-panel.new button.cancel{
    display:block;
    width:48%;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius:2px;
    margin-right:3px;
    padding:5px;
}
#info-panel.new button.create,#info-panel.update button.update{
    background-color:#f1f19f;
}
#info-panel.update button.delete{
    background-color:#9b9e1b;
}
#info-panel.update button.cancel,#info-panel.update button.cancel{
    background-color:#ebeb7a;
}

#info-panel.update button.update,#info-panel.update button.cancel,#info-panel.update button.delete{
    border:1px solid #ccc;
    border-radius:2px;
    margin:0 1px;
    padding:5px;
}
#info-panel.update button.delete{
    display:block;
    width: 100%;
    margin-top:2%;
}
#info-panel.update button.update,#info-panel.update button.cancel{
    display:inline-block;
    width:48%;
}